<div class="row">
  
  <div class="col-lg-4">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action" Style="background-color: rgba(199, 219, 18, 0.911);"><h1>Sonidos Homero J. Simpsons</h1></a>
    
      <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style=" background-color:cornflowerblue"> <h1>Cerveza </h1></a>
      <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style=" background-color:burlywood"><h1>Chango</h1></a>
      <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style=" background-color:cadetblue"><h1>Esto se va</h1></a>
      <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style=" background-color:darkcyan"><h1>Hola</h1></a>
      <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style=" background-color:goldenrod"><h1>Hola 2</h1></a>
      <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style=" background-color:mediumturquoise"><h1>Matanga</h1></a>
      <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style=" background-color:seagreen"><h1>Mensaje</h1></a>
    </div>
  </div>

</div>
  


<!-- <audio controls>
  <source src="../assets/Sonidos/cerveza.mp3" >
</audio> -->